#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkslategrey;
  }
  .mainPage {
    flex-grow: 1;
  }
  .list-group-item{
   height: 45px;
  }
  

  